[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MHTrajectoryR"]
	path = MHTrajectoryR
	url = https://github.com/cran/MHTrajectoryR
[submodule "MvBinary"]
	path = MvBinary
	url = https://github.com/cran/MvBinary
